.DS_Store
.idea
.ipynb_checkpoints
__pycache__

env
cache
out
obj
bin

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.snm
*.out
*.nav
*.toc
*.bbl
*.blg
*.bcf
*.run.xml
*.spl
*.idx
*.ilg
*.ind
*.lof
*.lot
*.bcf*

tex/**/*.pdf
